@model Aplzz.ViewModels.AccountViewModel;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = @Model.GetUserInfo.Username;
}

<div class="profileHeader">
    <div class="profilePicture">
        <img src="@Model.GetUserInfo.ProfilePicture" alt="Profilbildet" style="width:150px;height:150px;border-radius: 50%;">
    </div>
    <div class="profileInfo" style="">
        <div class="names" style="margin-bottom:10px"><b>@Model.GetUserInfo.Firstname @Model.GetUserInfo.Aftername -- @Model.GetUserInfo.Username</b></div>
        @if(HttpContextAccessor.HttpContext.Session.GetString("username") == Model.GetUserInfo.Username 
        && HttpContextAccessor.HttpContext.Session.GetString("id") != null) {
            <div class="settings" style="margin-bottom:10px"> <button class="aplzz_btn primaryButton">Rediger</button> </div>
        } else {
            <div class="settings" style="margin-bottom:10px"> <button class="aplzz_btn primaryButton">Følg</button> </div>
        }
        <div class="followInfo" style="margin-bottom:10px">
            <div class="counterDivProfiles">
                <p>0 <em>Følger</em></p>
            </div>
            <div class="counterDivProfiles">
                <p>0 <em>Følgere</em></p>
            </div>
            <div class="counterDivProfiles">
                <p>0 <em>Innlegg</em> </p>
            </div>
        </div>
        <div class="bio"> <b>Bio:</b> <p>Her skriver brukeren biografi</p> </div>
    </div>
</div>

<div class="profileBody">
    @if (Model.Posts != null && Model.Posts.Any())
    {
        
    } else {
        <p>Brukeren har ikke legget ut noe! Følg brukeren og få oppdateringer</p>
    }
</div>




